
{{#if CepSuccess}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Prazo</h5>
  
    <a href="#" class="card-link">{{CepSuccess}}</a>
      <a href="#" class="card-link">{{CepValor}}</a>
 
  </div>
</div>

{{/if}}

