
<!--
<h4>Login</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
    <label for="email">Email:</label>
     <input type="email" class="form-control" name="email" required>
     <label for="senha">Senha:</label>
     <input type="password" class="form-control" name="senha" required>
     <button class="btn btn-success mt-5" type="submit">Entrar</button>
 <br>
        <a href="/usuarios/registro" class="float-right ">Sign up </a>
    

     <br>

     <a href="/usuarios/RecuperarSenha" class="float-right mt-4">Recuperar Senha </a>
     </form>
    </div>
</div>


-->



<style>
    #camposRecp{
        float: right;
        
    }

    #cadastro{
        margin-top: 4%;
    }



    h4{
        margin-top: 5%;
        font-family: 'PlutoBold', Arial, sans-serif;
      }

    .card{
        margin-left: 10%;
        width: 80%;
    }
</style>

<br>
<br>
<div>
    <img src="../Usuarios/user.png" class="rounded mx-auto d-block" alt="..."width="70px">
   
    
</div>
<br>
<br>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
    <label for="email">Email:</label>
     <input type="email" class="form-control" name="email" required>
     <br>
     <label for="senha">Senha:</label>
     <input type="password" class="form-control" name="senha" required>

     
        
        

            <div>

            <a href="/usuarios/registro" <button type="button" id="cadastro" class="btn btn-success">Cadastro</button></a>




            <a href="/usuarios/RecuperarSenha" <button type="button" id="cadastro"  class="btn btn-success">Recuperar senha </button> </a>


        

            <button class="btn btn-success mt-5" id="camposRecp" type="submit">Entrar</button>
      </div>

   

     
     </form>
    </div>


</div>
    <br>
<br>
<br>
    <br>
<br>
<br>