<!DOCTYPE html>
<html>

<head>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link href="/css/Home.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">


    <link href="../../../bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="../../../bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../../../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/prefixed.css">
    <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../examples/standard/estilos/estilo.css" >
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
  


</head>

<body>



    <section>

      

    
            
    <div class="efeito"></div>

     
</header>


  <div class="gallery autoplay items-3">
    <div id="item-4" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
    <figure class="item">
      <img src="/img/Cavalo1.png" alt="imagem 1">
    </figure>

    <figure class="item">
      <img src="/img/Cavalo2.png" alt="imagem 1"  >
    </figure>

    <div class="controls">
      <a href="#item-4" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>

      
    </div>
  </div>
  <div>
    
   

    </div>

    <div class="posibalao">
      <div class="balao">
        <p>
        SOBRE NÓS
        </p>
      </div>
      <div class="balao2">
        teyyyyyyyyyyyyyyyyyyyyyyyyyy
      </div>
    




    </div>


        <div class="espaco"></div>
        <div class="TextT">
            <h2>ACPCCP</h2>
            <p>
                O Estado do Paraná em face das condições oferecidas pelo seu solo e clima, despertaram interesse em
                vários proprietários não só do nosso estado como de outras regiões do país; na implantação de diversos
                haras e desde o início, grandes possibilidades para a criação do cavalo Puro Sangue Inglês se traduziam
                em resultados no turfe nacional que indicavam
            </p>
            <a href="Teste.html">Ler Mais </a>




    </section>
    <div class="parallax">
        <div class="textG">
            <a id="frs">
                A Mais Completa <br> Loja veterinaria
            </a>
            <div class="btnP">
                <a href="https://sleepy-bayou-01348.herokuapp.com">Produtos</a>
            </div>




        </div>
    </div>
            <div class="meioT">

                <p data-aos="fade-right">Apaixonado por animais como você</p>
               <div class="IconsA">
                <div class="animalsA" data-aos="fade-right"><img src="../_imagens/gatos.png" width="250px"></div>
                <div class="animalsA" data-aos="fade-right"><img src="../_imagens/ovinos.png" width="250px"></div>
                <div class="animalsA" data-aos="fade-right"><img src="../_imagens/suinos.png" width="250px"></div>
                <div class="animalsA" data-aos="fade-left"><img src="../_imagens/caprinos.png" width="250px"></div>
                <div class="animalsA" data-aos="fade-left"><img src="../_imagens/caes.png" width="250px"></div>
                <div class="animalsA" data-aos="fade-left"><img src="../_imagens/bovinos.png" width="250px"></div>

            </div>

        </div>
       


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 3000,
        });
    </script>



<footer class="ft">



  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2>ACCPCP</h2>
          <p class="pr-5 text-white-50"> O Estado do Paraná em face das condições oferecidas pelo seu solo e clima, despertaram interesse em vários proprietários não só do nosso estado como de outras regiões do país; na implantação de diversos haras e  desde o início, grandes possibilidades para a criação do cavalo Puro Sangue Inglês se traduziam em resultados no turfe nacional  que indicavam . </p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Serviços</h4>
            <ul class="m-0 p-0">
              <li>- <a href="https://sleepy-bayou-01348.herokuapp.com">Produtos</a></li>
              <li>- <a href="https://sleepy-bayou-01348.herokuapp.com/categorias">Categorias</a></li>
              <li>- <a href="https://sleepy-bayou-01348.herokuapp.com/usuarios/login">Login</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Onde estamos</h4>
          <p>no céu da sua boca</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>(19) 99733-0130</p>
          <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>
  

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
   
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
       
       
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="devs">© 2020 Copyright:
      <a href="https://www.linkedin.com/in/guilherme-zanchettin-1a56b2158/" target="blank"> </a>
    </div>
    <!-- Copyright -->
     <!-- Copyright -->
     <div class="devs">© 2020 Copyright:
      <a href="https://www.linkedin.com/in/guilherme-zanchettin-1a56b2158/" target="blank"></a>
    </div>
    <!-- Copyright -->
  
  </footer>






</body>

</html>