<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    
        <script type="text/javascript" src="../Sobre/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../Sobre/sobrenos.js"></script>
    <style>

        
        .comeco{

            
            background-color: aqua;
            height: 100%;
            width: 100%;
            
        }


        .areaTexto{
            padding: 5%;
            background-color: #d1be9e;
            height: 500px;
            width: 100%;
        }
        
        .imgSobre{
            margin-left: 1%;
            float: right;
            height: 280px;
        }


        
        
        
    </style>



</head>


    

    <div class="comeco">

            <img src="../Sobre/cavaloBanner3.jpg" width="100%">
 
    </div>

    <div class="areaTexto">

            <img class="imgSobre" src="../Sobre/acp.jpg"  >
            <h2>ACPCCP</h2>
           Em face da construção do Jockey Plaza Shopping Center nas dependências do hipódromo, em 2016 a ACPCCP teve sua sede desapropriada. Em comum acordo novamente mudou-se, agora para um moderno prédio localizado ao lado da portaria dos fundos do Jockey Club, com vista para a Rua Konrad Adenauer.
O novo espaço da ACPCCP foi adequado às suas atividades, com a reestruturação da farmácia veterinária, depósito de medicamentos, salas de reuniões e eventos, biblioteca e gerência técnica. No espaço externo anexo da nova sede houve pavimentação com paralelepípedos nas áreas de estacionamento frontal da Farmácia e em amplo estacionamento anexo à portaria do Jockey Club, o que propicia aos nossos clientes e associados uma facilidade e segurança ao se deslocar até nossa sede.

Com a finalidade de melhor atender a seus clientes, não só associados, mas também ao público em geral, a Farmácia Veterinária da ACPCCP conta com completo estoque de medicamentos, direcionada primeiramente para equinos, mas recentemente dirigida também para o segmento Pet, proporcionando assim um atendimento mais amplo à sua clientela.
Implantou-se recentemente um novo “layout” externo e interno da Farmácia veterinária, promovendo assim uma melhor divulgação e propiciando a seus associados e clientes em geral um melhor atendimento e conforto.

    </div>









</html>