<div class="card">
    <h1>Informe o Cep</h1>
 
<div class="card-body">
<form action="/calculaFrete" method="POST">
<label for="CEP">CEP: </label>
<input type="text" name="cep" class="form-control">

<button class="btn btn-success mt-4">Buscar</button>

</form>

</div>


</div>